html, body {
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* aqui empieza el logo */
.container-logo{
    display: flex;
    z-index: 50;
    margin: 15px;
    position: absolute;
    cursor: pointer;
    transition: all .3s;
}

.container-logo:hover {
    transform: scale(1.1);
}

.logo{
    height: 80px;
    width: 80px;
}

/* aqui empieza el contenedor */
.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100; 
}

/* empieza la tarjeta */
.card{
    display: flex;
    justify-content: start;
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 370px;
    border: none;
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
}


.card h1{
    font-size: 30px;
    color:#0a1128;
    font-weight: bold; /* Hace el texto más grueso */
}

.formulario{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

/*personalizar fecha de cum pleaños*/
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 100%;
  }

  input[type="date"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

