<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="website icon" href="../Imagenes/wknLogo2.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=97380e22c8933e9aa79cbc2390b9f15a">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../Css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10-style.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="../Css/general/Nunito.css">
    <link rel="stylesheet" href="../Css/general/styles.min.css">
    <link rel="stylesheet" href="../Css/Perfil.css">

</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
            style="background: #0a1128;">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    th:href="@{/personas/pagina_principal}"><img src="../Imagenes/working wise 32x32 white.png"
                        width="61" height="58" style="width: 50px;height: 50px;">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Workwise</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link " th:href="@{/personas/pagina_principal}"><i
                                class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/perfil/persona}"><i
                                class="far fa-user-circle"></i><span>Profile</span></a></li>                   
                    <li class="nav-item"><a class="nav-link" th:href="@{/Estadisticas/personas}"><i
                                class="fas fa-chart-bar"></i><span>Statistics</span></a></li>                   
                    <li class="nav-item"><a class="nav-link" th:href="@{/login/Empresa}"><i
                                class="fas fa-building"></i><span>Do you have a company? </span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
                    style="background: var(--bs-body-bg);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"
                                style="text-align: center;margin: 500px;border-color: var(--bs-emphasis-color);"><input
                                    class="bg-light form-control border-0 small" type="text"
                                    placeholder="Buscar..."><button class="btn btn-primary py-0" type="button"
                                    style="background: #0a1128;"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small">Usuario</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" th:href="@{/perfil/persona}"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">

                        <!-- Desde aqui cargar imagen de perfil -->
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow">
                                    <!-- Imagen de perfil -->
                                    <img id="profileImage" class="rounded-circle mb-3 mt-4" th:src="${base64Image}"
                                        width="160" height="160" alt="Perfil">

                                    <div class="mb-3">
                                        <!-- Botón para cambiar la foto -->
                                        <button id="changePhotoBtn" class="btn btn-primary btn-sm">Change Photo</button>

                                        <!-- Formulario para subir la foto -->
                                        <form id="uploadForm" action="/upload/photo" method="post"
                                            enctype="multipart/form-data" style="display:none;">
                                            <input type="hidden" name="id" value="${persona.id}">
                                            <input type="file" name="file" required>
                                            <br>
                                            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                                        </form>
                                        <br>
                                        <!-- Botón para cancelar el cambio de foto -->
                                        <button id="cancelUploadBtn" class="btn btn-secondary btn-sm"
                                            style="display:none;">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <!-- fin cargar imagen de perfil -->
                            <!-- Hoja de vida -->
                            <div class="card mb-3">
                                <div class="card-body text-center shadow">
                                    <div class="mb-3">                                
                                        <form action="/uploadHDV" method="post" enctype="multipart/form-data">
                                            <input type="file" name="file" accept="application/pdf" th:value="${persona.cv}" required />
                                            <button type="submit">Upload PDF</button>
                                        </form>
                                        <div>
                                            <h3>Curriculum Vitae</h3>
                                            <iframe src="/perfil/verHDV" width="100%" height="200px"></iframe>
                                        </div>
                                        <br>
                                            <!-- Botón de Eliminar PDF -->
                                        <button onclick="eliminarHojaDeVida()">Delete CV</button>
                                    </div>
                                </div>
                            </div>
                            <!-- fin hoja de vida -->
                        </div>

                        <!-- Perfil de la persona  -->
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">                                                                           
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">User Profile</p>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="@{/actualizar}" method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="email"><strong>Email
                                                                    Address</strong></label>
                                                            <input class="form-control" type="email" id="email"
                                                                name="email" th:value="${persona.email}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                for="password"><strong>Password</strong></label>
                                                            <input class="form-control" type="password" id="contraseña"
                                                                name="contraseña" th:value="${persona.contraseña}"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="first_name"><strong>First
                                                                    Name</strong></label>
                                                            <input class="form-control" type="text" id="first_name"
                                                                name="nombre" th:value="${persona.nombre}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="last_name"><strong>First Surname</strong></label>
                                                            <input class="form-control" type="text" id="last_name"
                                                                name="apellido" th:value="${persona.apellido}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                for="birthdate"><strong>Date of Birth</strong></label>
                                                            <input class="form-control" type="text" id="birthdate"
                                                                name="fecha_nacimiento"
                                                                th:value="${persona.fecha_nacimiento}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                for="Gender"><strong>Gender</strong></label>
                                                            <input class="form-control" type="text" id="Gender"
                                                                name="genero" th:value="${persona.genero}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <button class="btn btn-primary btn-sm" type="button"
                                                                id="change_btn">Change
                                                                Settings</button>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <button class="btn btn-primary btn-sm" type="submit" id="save_btn" disabled>Save
                                                                changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- cuadro de postulaciones pendiente -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 fw-bold">Pending Applications</h6>
                                    </div>
                                    <div class="card-body">
                                        <div th:if="${postulaciones.isEmpty()}">
                                            <p class="text-muted">You currently have no pending applications.</p>
                                        </div>
                                        <div th:unless="${postulaciones.isEmpty()}">
                                            <div class="offer-container">
                                                <div th:each="postulacion : ${postulaciones}" class="card">
                                                    <div class="offer-content" data-id="${postulacion.ofertas.id}">
                                                        <h3 th:text="${postulacion.ofertas.titulo_puesto}"></h3>
                                                        <p th:text="${postulacion.ofertas.descripcion}"></p>
                                                        <div class="hidden-info">
                                                            <p class="salario"><strong>Salary:</strong> <span
                                                                    th:text="${postulacion.ofertas.salario}"></span></p>
                                                            <p class="duracion"><strong>Duration:</strong> <span
                                                                    th:text="${postulacion.ofertas.duracion}"></span>
                                                            </p>
                                                            <p class="periodo"><strong>Period:</strong> <span
                                                                    th:text="${postulacion.ofertas.periodo}"></span></p>
                                                            <p class="tipo_empleo"><strong>Type of employment:</strong>
                                                                <span
                                                                    th:text="${postulacion.ofertas.tipo_empleo}"></span>
                                                            </p>
                                                            <p class="modalidad"><strong>Mode:</strong> <span
                                                                    th:text="${postulacion.ofertas.modalidad}"></span>
                                                            </p>
                                                            <p class="tipo_contrato"><strong>Type of contract:</strong>
                                                                <span
                                                                    th:text="${postulacion.ofertas.tipo_contrato}"></span>
                                                            </p>
                                                        </div>

                                                        <!-- Botón para eliminar la postulación -->
                                                        <button class="btn btn-danger" th:data-id="${postulacion.id}"
                                                            onclick="eliminarPostulacion(this)">
                                                            Delete Application
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i
                        class="fas fa-angle-up"></i></a>
                        <footer class="custom-footer bg-dark text-light text-center py-4 sticky-footer">
                            <div class="container">
                                <div class="footer-content">
                                    <div class="footer-left">
                                        <p class="mb-1">PBX: (605) 123-4567 | Email: contacto@workwise.com</p>
                                    </div>
                                    <div class="footer-center">
                                        <p class="mb-1">© 2024 WorkWise. Todos los derechos reservados.</p>
                                    </div>
                                    <div class="footer-right">
                                        <a href="https://facebook.com" target="_blank" class="mx-3">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                                                alt="Facebook" width="30" height="30">
                                        </a>
                                        <a href="https://instagram.com" target="_blank" class="mx-3">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram"
                                                width="30" height="30">
                                        </a>
                                        <a href="https://www.tiktok.com" target="_blank" class="mx-3">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/TikTok_Logo.svg" alt="TikTok"
                                                width="30" height="30">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </footer>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
            <script src="../js/General/Grid-and-List-view-V10-script.js"></script>
            <script src="../js/General/script.min.js"></script>
            <script src="../js/General/theme.js"></script>
            <script src="../js/mi_perfil.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

</html>