<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login users</title>
    <link rel="website icon" href="../Imagenes/wknLogo2.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../Css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10-style.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="../Css/general/Nunito.css">
    <link rel="stylesheet" href="../Css/general/styles.min.css">
    <link rel="stylesheet" href="../Css/inicio_sesion_persona.css">
</head>

<body id="body">
    <div style="display: flex;">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" th:href="@{/}">
            <img id="logo" src="../Imagenes/wknblack.png" width="61" height="58" style="width: 60px; height: 60px; margin: 10px;">
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image">
                                    <img src="../Imagenes/imagen_inicio_sesion.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <a th:href="@{/}" class="back_a">
                                    <i class="fas fa-arrow-left back"></i>
                                </a>
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <form class="user" th:action="@{/login/personas}" th:object="${Usuario}"
                                        method="post">

                                        <div class="mb-3"><input class="form-control form-control-user" type="email"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." name="email">
                                        </div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password"
                                                id="password" placeholder="Password" name="contraseña"></div>
                                        <div class="mb-3">
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit"
                                            id="validar" onclick="validar">Login</button>
                                    </form>

                                    <div class="text-center"><a class="small" th:href="@{/Contraseña-olvidada}">Forgot
                                            Password?</a></div>
                                    <div class="text-center"><a class="small" th:href="@{/Register/personas}">Create an
                                            Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/General/Grid-and-List-view-V10-script.js"></script>
    <script src="../js/General/script.min.js"></script>
    <script src="../js/General/theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/inicio_sesion_persona.js"></script>
</body>

</html>