<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="website icon" href="../Imagenes/wknLogo2.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../Css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10-style.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="../Css/general/Nunito.css">
    <link rel="stylesheet" href="../Css/general/styles.min.css">
    <link rel="stylesheet" href="../Css/nosotros.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body>
    <div class="contenedor">
        <header class="top-bar">
            <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
                style="background: #0a1128;">
                <div class="container-fluid d-flex flex-column p-0"><a
                        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                        th:href="@{/}"><img src="../Imagenes/working wise 32x32 white.png" width="61" height="58"
                            style="width: 50px;height: 50px;">
                        <div class="sidebar-brand-icon rotate-n-15"></div>
                        <div class="sidebar-brand-text mx-3"><span>Workwise</span></div>
                    </a>
                    <hr class="sidebar-divider my-0">
                    <ul class="navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}"><i
                                    class="fas fa-home"></i><span>Home</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/login/personas}"><i
                                    class="far fa-user-circle"></i><span>Login</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/Register/personas}"><i
                                    class="fas fa-user-circle"></i><span>Register</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/Estadisticas}"><i
                                    class="fas fa-chart-bar"></i><span>Statistics</span></a></li>
                        <li class="nav-item"><a class="nav-link active" th:href="@{/Nosotros}"><i
                                    class="fas fa-users"></i><span>About Us</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/login/Empresa}"><i
                                    class="fas fa-building"></i><span>Do you have a company? </span></a></li>

                    </ul>
                    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                            id="sidebarToggle" type="button"></button></div>
                </div>
            </nav>
        </header>
        <main class="container mt-5">
            <div class="container">
                <div class="cuerpo-principal">
                    <img src="./assets/img/working wise 32x32 white.png" alt="">
                    <div class="Resumen Workwise">
                        <h1>Acerca de Workwise</h1>
                        <p>Nosotros buscamos brindar un lugar en el que se
                            registren una
                            secuencia de ofertas laborales demandadas por las organizaciones y, paralelamente,
                            los
                            individuos
                            que buscan empleos encuentren las ofertas que mejor se ajusten a ellos.
                        </p>
                    </div>
                    <div class="Justificacion Workwise">
                        <h1>Justificación</h1>
                        <p>Es importante destacar que nuestro sitio web no solo se enfoca en resolver un problema
                            crítico como lo
                            es el desempleo, sino que también ha sido fundamental para fortalecer nuestro
                            trabajo en
                            equipo y
                            mejorar nuestra capacidad de análisis y resolución de problemas en un entorno real.
                            En
                            definitiva,
                            este proyecto representa una herramienta poderosa para transformar el mercado
                            laboral y
                            mejorar la
                            vida de las personas.
                            De esta manera dando beneficios al grupo como el mejoramiento de la comunicación
                            eficaz,
                            fomentación
                            de un objetivo común, mejoras de las habilidades de resolución de problemas.
                        </p>
                    </div>
                    <div class="Objetivos Workwise">
                        <h1>Objetivos</h1>
                        <ul>
                            <li>Crear una plataforma web de gestión de datos recolectando, almacenando y
                                procesando
                                información
                                de perfiles de candidatos y vacantes.</li>
                            <li>Utilizar el software mencionada para publicitar y promocionar ofertas de trabajo
                                a
                                la ciudadanía
                                de Cartagena, aumentando así las oportunidades de encontrar empleo digno para
                                los
                                usuarios.</li>
                            <li>Implementar herramientas ágiles para ayudar a los ciudadanos de Cartagena a
                                encontrar ofertas de
                                trabajo acordes a sus perfiles y desarrollar habilidades adicionales para
                                mejorar su
                                empleabilidad.</li>
                            <li>Permitir a los pequeños locales de la ciudad de Cartagena La posibilidad de
                                búsqueda
                                de
                                empleados con mayor facilidad y acorde a los requerimientos que ellos necesiten.
                            </li>
                            <li>Dar aporte y soporte con tips, y recursos audiovisuales para aquellas personas
                                buscadoras de
                                empleo en nuestra página. </li>
                        </ul>
                    </div>
                    <div class="Conclusiones Workwise">
                        <h1>Conclusiones</h1>
                        <p>En conclusión, este proyecto tiene como finalidad la facilitación de la búsqueda de
                            empleo en
                            Cartagena y a su vez la búsqueda de empleados por parte de las empresas o los
                            pequeños
                            locales,
                            logrando satisfacer las necesidades tanto de los buscadores de empleo como a las
                            empresas que deseen
                            publicar ofertas laborales.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/General/Grid-and-List-view-V10-script.js"></script>
    <script src="../js/General/script.min.js"></script>
    <script src="../js/General/theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>