<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workwise Navigator</title>
    <link rel="website icon" href="../Imagenes/wknLogo2.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../Css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10-style.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="../Css/general/Nunito.css">
    <link rel="stylesheet" href="../Css/general/styles.min.css">
    <link rel="stylesheet" href="../Css/pagina_principal_persona.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body id="page-top">
    <div id="wrapper" style="margin: 500;">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
            style="background: #0a1128;">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    th:href="@{/personas/pagina_principal}"><img src="../Imagenes/working wise 32x32 white.png"
                        width="61" height="58" style="width: 50px;height: 50px;">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Workwise</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" th:href="@{/personas/pagina_principal}"><i
                                class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/perfil/persona}"><i
                                class="far fa-user-circle"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Estadisticas/personas}"><i
                                class="fas fa-chart-bar"></i><span>Statistics</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/login/Empresa}"><i
                                class="fas fa-building"></i><span>Do you have a company? </span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
                    style="background: var(--bs-body-bg);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"
                            id="formBusqueda">
                            <div class="input-group"
                                style="text-align: center;margin: 500px;border-color: var(--bs-emphasis-color);">
                                <input id="termino" name="termino" class=" bg-light form-control border-0 small"
                                    type="text" placeholder="Search for ...">
                                <button class="btn btn-primary py-0" type="submit" style="background: #0a1128;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="btn-menu">
                                <label for="btn-menu" id="navbar-toggler" class="label-menu">
                                    <i class="fa fa-filter"></i>
                                </label>
                            </div>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small"
                                            id="usuario">Account</span><data value="${persona.id}"></data></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" th:href="@{/perfil/persona}"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"
                                            id="logout" onclick="cerrarSesion(event)">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- barra lateral filtro -->
            <input type="checkbox" id="btn-menu">
            <div class="container-menu" id="container-menu">
                <div class="cont-menu" id="cont-menu">
                    <nav>
                        <div class="dropdown-menu" aria-labelledby="filtersToggle" id="filtersDropdown">
                            <div class="filter-container">
                                <h5>Filters</h5>
                                <div>
                                    <label for="salarioMin">Minimum salary:</label>
                                    <input type="number" id="salarioMin" placeholder="0" class="form-control mb-2">
                                </div>
                                <div>
                                    <label for="salarioMax">Maximum salary:</label>
                                    <input type="number" id="salarioMax" placeholder="10000" class="form-control mb-2">
                                </div>
                                <div>
                                    <label for="typeContract">TypeContract:</label>
                                    <select id="typeContract" class="form-control mb-2">
                                        <option value="">--Select--</option>
                                        <option value="contrato obra o labor">Contract for work or labor</option>
                                        <option value="contrato fijo">Fixed term contract</option>
                                        <option value="contrato por practcas">Internship contract</option>
                                        <option value="indefinido">Indefinite term contract</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="tipoEmpleoSelect">Type of employment:</label>
                                    <select id="tipoEmpleoSelect" class="form-control mb-2">
                                        <option value="">--Select--</option>
                                        <option value="tiempo completo">Full time</option>
                                        <option value="medio tiempo">half-time</option>
                                        <option value="freelance"> Freelance</option>
                                        <option value="hours"> For hours</option>
                                    </select>
                                </div>
                                <div id="filterModalidad">
                                    <h6>Mode</h6>
                                    <label><input type="checkbox" value="presencial"> In person</label>
                                    <label><input type="checkbox" value="remoto"> Remote</label>
                                    <label><input type="checkbox" value="híbrido"> Hybrid</label>
                                </div>
                                <br>
                                <button class="btn btn-primary" onclick="applyFilters()">apply filters</button>
                            </div>
                        </div>
                    </nav>
                    <label for="btn-menu" class="back">✖️</label>
                </div>
            </div>


            <!-- cuerpo principal -->
            <div class="content-area flex-grow-1 p-3 ">
                <div id="resultadoBusqueda"></div>

                <div class="usuarioId">
                    <input type="hidden" id="usuarioId" th:value="${usuarioId}">
                </div>

                <div class="offer-container">
                    <div th:each="Oferta:${Ofertas}" class="card">
                        <div class="offer-content" th:data-id="${Oferta.id}">
                            <h3 th:text="${Oferta.titulo_puesto}"></h3>
                            <p th:text="${Oferta.descripcion}"></p>
                            <div class="hidden-info">
                                <p class="salario"><strong>Salary:</strong> <span th:text="${Oferta.salario}"></span>
                                </p>
                                <p class="duracion"><strong>Duration:</strong> <span
                                        th:text="${Oferta.duracion}"></span></p>
                                <p class="periodo"><strong>Period:</strong> <span th:text="${Oferta.periodo}"></span>
                                </p>
                                <p class="tipo_empleo"><strong>Type of employment:</strong> <span
                                        th:text="${Oferta.tipo_empleo}"></span></p>
                                <p class="modalidad"><strong>Mode:</strong> <span th:text="${Oferta.modalidad}"></span>
                                </p>
                                <p class="tipo_contrato"><strong>Type of contract:</strong> <span
                                        th:text="${Oferta.tipo_contrato}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal que se mostrará al hacer clic en una tarjeta -->
                <div id="modal" class="modal">
                    <div class="modal-content" id="modal-content">
                        <div class="modal-header">
                            <h3 id="modal-title"></h3>
                            <span class="close-btn" id="close-btn">&times;</span>
                        </div>
                        <div class="modal-body">
                            <p id="modal-description"></p>
                            <span id="modal-salary"></span></p>
                            <span id="modal-duration"></span></p>
                            <span id="modal-period"></span></p>
                            <span id="modal-modalidad"></span></p>
                            <span id="modal-type"></span></p>
                            <span id="modal-typeContract"></span></p>
                        </div>
                        <div class="modal-footer">
                            <button class="apply-btn-modal" id="postularseBtn">Apply</button>
                        </div>
                    </div>
                </div>


            </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

            <footer class="custom-footer bg-dark text-light text-center py-4 sticky-footer">
                <div class="container">
                    <div class="footer-content">
                        <div class="footer-left">
                            <p class="mb-1">PBX: (605) 123-4567 | Email: contacto@workwise.com</p>
                        </div>
                        <div class="footer-center">
                            <p class="mb-1">© 2024 WorkWise. Todos los derechos reservados.</p>
                        </div>
                        <div class="footer-right">
                            <a href="https://facebook.com" target="_blank" class="mx-3">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                                    alt="Facebook" width="30" height="30">
                            </a>
                            <a href="https://instagram.com" target="_blank" class="mx-3">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
                                    alt="Instagram" width="30" height="30">
                            </a>
                            <a href="https://www.tiktok.com" target="_blank" class="mx-3">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/TikTok_Logo.svg"
                                    alt="TikTok" width="30" height="30">
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../js/General/Grid-and-List-view-V10-script.js"></script>
        <script src="../js/General/script.min.js"></script>
        <script src="../js/General/theme.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../js/Inicio_persona.js"></script>

</body>

</html>