<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workwise Navigator</title>
    <link rel="website icon" href="../Imagenes/wknLogo2.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../Css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10-style.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="../Css/general/Nunito.css">
    <link rel="stylesheet" href="../Css/general/styles.min.css">
    <link rel="stylesheet" href="../Css/inicioEmp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
            style="background: #310632;">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    th:href="@{/empresas/pagina_principal}"><img src="../Imagenes/working wise 32x32 white.png"
                        width="61" height="58" style="width: 50px;height: 50px;">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Workwise</span></div>
                </a>
                <span style="font-size: 15px; text-align: center; color: white;">Only Companies</span>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" th:href="@{/empresas/pagina_principal}">
                            <i class="fas fa-home"></i><span>Home</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/perfil/empresa}">
                            <i class="far fa-user-circle"></i><span>Profile</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/empresas/oferta}">
                            <i class="fas fa-plus-circle"></i><span>Create offer</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Estadisticas/empresas}">
                            <i class="fas fa-chart-bar"></i><span>Statistics</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/login/personas}">
                            <i class="fas fa-user"></i><span>Do you want search offers?</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
                    style="background: var(--bs-body-bg);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"
                            id="formBusqueda">
                            <div class="input-group"
                                style="text-align: center;margin: 500px;border-color: var(--bs-emphasis-color);">
                                <input id="termino" name="termino" class=" bg-light form-control border-0 small"
                                    type="text" placeholder="Search for ...">
                                <button class="btn btn-primary py-0" type="submit" style="background: #0a1128;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <!-- rensposive -->
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small"
                                                type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0"
                                                    type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small"
                                            id="usuario">Company</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" th:href="@{/perfil/empresa}"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"
                                            id="logout" onclick="cerrarSesion(event)">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="content-area flex-grow-1 p-3">
                <div id="resultadoBusqueda"></div>
                <div class="offer-container">
                    <div th:each="Oferta:${Ofertas}" class="card">
                        <div class="offer-content" th:data-id="${Oferta.id}">
                            <h3 th:text="${Oferta.titulo_puesto}"></h3>
                            <p th:text="${Oferta.descripcion}"></p>
                            <div class="hidden-info">
                                <p class="salario"><strong>Salary:</strong> <span th:text="${Oferta.salario}"></span>
                                </p>
                                <p class="duracion"><strong>Duration:</strong> <span
                                        th:text="${Oferta.duracion}"></span>
                                </p>
                                <p class="periodo"><strong>Period:</strong> <span th:text="${Oferta.periodo}"></span>
                                </p>
                                <p class="tipo_empleo"><strong>Type of employment:</strong> <span
                                        th:text="${Oferta.tipo_empleo}"></span>
                                </p>
                                <p class="modalidad"><strong>mode:</strong> <span th:text="${Oferta.modalidad}"></span>
                                </p>
                                <p class="tipo_contrato"><strong>Type of contract:</strong> <span
                                        th:text="${Oferta.tipo_contrato}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal que se mostrará al hacer clic en una tarjeta -->
        <div id="modal" class="modal">
            <div class="modal-content" id="modal-content">
                <div class="container-span">
                    <span class="close-btn">&times;</span>
                </div>
                <h3 id="modal-title"></h3>
                <p id="modal-description"></p>
                <p id="modal-salary"></p>
                <p id="modal-duration"></p>
                <p id="modal-period"></p>
                <p id="modal-modalidad"></p>
                <p id="modal-type"></p>
                <p id="modal-typeContract"></p>
                
                <div id="postCount">
                    <p id="modal-postulaciones">Postulaciones: <span id="postulaciones-count">0</span></p>
                </div>

                <!-- Botones de editar y eliminar -->
                <div class="modal-buttons">
                    <button id="edit-button" class="btn btn-primary">Edit</button>
                    <button id="delete-button" class="btn btn-danger">Delete</button>
                </div>

                <div id="edit-form" style="display: none;">
                    <div class="mb-3">
                        <label for="edit-title" class="form-label">Edit Title</label>
                        <input type="text" id="edit-title" class="form-control" placeholder="Edit Title">
                    </div>
                    <div class="mb-3">
                        <label for="edit-description" class="form-label">Edit Description</label>
                        <textarea id="edit-description" class="form-control" placeholder="Edit Description"></textarea>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <label class="form-label me-1">Edit Salary</label>
                        <input type="text" id="edit-salary" class="form-control me-1" placeholder="Edit Salary">
                        <select id="edit-currency" class="form-select" required>
                            <option value="COP">COP</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="LBR">LBR</option>
                        </select>
                        <select id="edit-period" class="form-select" required>
                            <option value="Diario">Daily</option>
                            <option value="Semanal">Weekly</option>
                            <option value="Quincenal">Biweekly</option>
                            <option value="Mensual">Monthly</option>
                            <option value="Anual">Annual</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-modalidad" class="form-label">Edit Modality</label>
                        <select id="edit-modalidad" class="form-select" required>
                            <option value="Presencial">In person</option>
                            <option value="Remoto">Remote</option>
                            <option value="Híbrido">Hybrid</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-type" class="form-label">Edit work Type</label>
                        <select id="edit-type" class="form-select">
                            <option value="Tiempo Completo">Full time</option>
                            <option value="Medio Tiempo">Half-time</option>
                            <option value="Por Horas">For hours</option>
                            <option value="Freelance">Freelance</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-typeContract" class="form-label">Edit Contract Type</label>
                        <select id="edit-typeContract" class="form-select">
                            <option value="Contrato obra o labor">Contract for work or labor</option>
                            <option value="contrato fijo">Fixed term contract</option>
                            <option value="contrato indefinido">Indefinite term contract</option>
                            <option value="contrato por practicas">Internship contract</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-duration" class="form-label">Edit Duration</label>
                        <select id="edit-duration" class="form-select">
                            <option value="1 mes">1 month</option>
                            <option value="3 meses">3 months</option>
                            <option value="6 meses">6 months</option>
                            <option value="1 año">1 year</option>
                            <option value="Indefinido">Indefinite</option>
                        </select>
                    </div>
                    <button id="save-button" class="btn btn-success">Save Changes</button>
                    <button id="cancel-button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="custom-footer bg-dark text-light text-center py-4 sticky-footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-left">
                    <p class="mb-1">PBX: (605) 123-4567 | Email: contacto@workwise.com</p>
                </div>
                <div class="footer-center">
                    <p class="mb-1">© 2024 WorkWise. Todos los derechos reservados.</p>
                </div>
                <div class="footer-right">
                    <a href="https://facebook.com" target="_blank" class="mx-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                            alt="Facebook" width="30" height="30">
                    </a>
                    <a href="https://instagram.com" target="_blank" class="mx-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
                            alt="Instagram" width="30" height="30">
                    </a>
                    <a href="https://www.tiktok.com" target="_blank" class="mx-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/TikTok_Logo.svg" alt="TikTok"
                            width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/General/Grid-and-List-view-V10-script.js"></script>
    <script src="../js/General/script.min.js"></script>
    <script src="../js/General/theme.js"></script>
    <script src="../js/pagina_principal_empresa.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>